.footer {
  padding: 2.4rem 0;

  @include small-tablet {
    padding: 1.6rem 0;
  }

  &__container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);

    &:not(:last-child) {
      margin-bottom: 4.4rem;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;
      text-align: center;
    }
  }

  &__logo {
    @include small-tablet {
      font-size: 2.4rem;
      order: -1;
    }
  }

  &__sublogo {
    margin: 0;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--black);
  }

  &__address {
    grid-column: 3 / 1 span;
    font-style: normal;

    @include small-tablet {
      order: 4;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    a {
      color: inherit;
    }
  }

  &__btn {
    grid-column: 4 / 1 span;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
      gap: .8rem;

    }
  }
}