// ваш код
.header {
  padding: 3.2rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform .3s ease-out;

  @include small-tablet {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 1.8rem 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mob {
    display: none;

    @include small-tablet {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .3rem;
    width: 1.8rem;



    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #404040;
      border-radius: 1px;
      transition: .3s ease-out;
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #404040;
      border-radius: 1px;
      transition: .3s ease-out;
    }

    &.active {
      .line {
        opacity: 0;
      }

      &::before {
        transform: rotate(-45deg) translate(-5.5px);
      }

      &::after {
        transform: rotate(45deg) translate(-5.5px);
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__ic {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    display: block;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--black);

    transition: color .3s ease-out;

    @include hover {
      color: var(--blue-main);
    }

  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  &__nav,
  &__col,
  &__btn {
    @include small-tablet {
      display: none;
    }
  }
}