<section class="auto">
  <div class="container">
    <div class="auto__container">
      <div class="auto__content">
        <h2 class="title2 auto__title">
          Автоматизируйте казначейство и бюджетирование
        </h2>
        <div class="auto__text">
          <p class="desc auto__subtitle">
            Это не только решит указанные проблемы. Вы получите главное - базу
            для управленческого учета и систему эффективного распределения
            ресурсов компании.
          </p>

          <p class="desc auto__desc">
            Автоматизация бюджетирования и казначейства – это новый уровень
            управления бизнесом. Он включает в себя систему инструментов
            финансового контроля, аналитики и отчетности.
          </p>
          <p class="desc auto__desc">
            Правильно используя их, вы сможете максимально эффективно решать
            свои задачи – на какой бы позиции в компании вы не находились.
          </p>
        </div>
      </div>

      <div class="auto__img">
        <img src="./img/auto.webp" alt="" />
      </div>
    </div>

    <div class="auto__items">
      <div class="auto__item auto-item">
        <p class="auto-item__title">УПРАВЛЯЙТЕ</p>
      </div>
      <div class="auto__item auto-item">
        <div class="auto-item__icon">
          <img src="./img/icons/waste.svg" alt="" />
        </div>
        <p class="desc auto-item__desc">Без лишних расходов</p>
      </div>
      <div class="auto__item auto-item">
        <div class="auto-item__icon">
          <img src="./img/icons/port.svg" alt="" />
        </div>
        <p class="desc auto-item__desc">Без проблем с отчетностью</p>
      </div>
      <div class="auto__item auto-item">
        <div class="auto-item__icon">
          <img src="./img/icons/prot.svg" alt="" />
        </div>
        <p class="desc auto-item__desc">
          Без рисков финансового «проседания» бизнеса
        </p>
      </div>
    </div>
  </div>
</section>
