<section class="banner banner--take">
  <div class="container">
    <div class="banner__container">
      <div class="banner__content">
        <h2 class="title3 title3--white banner__title">
          Возьмем на себя автоматизацию бюджетирования и казначейства в вашей
          компании под ключ с дальнейшим сопровождением и консультационной
          поддержкой
        </h2>

        <a href="#" class="btn btn-reset btn--wh banner__btn modal-btn"
          >Связаться с нами</a
        >
      </div>

      <div class="banner__img">
        <img src="./img/banner/04.svg" alt="" />
      </div>
    </div>
  </div>
</section>
