<section class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__content">
        <h2 class="title3 title3--white banner__title">
          Бесплатный экспресс-аудит финансовой системы вашего бизнеса
        </h2>
        <p class="desc banner__desc desc--white">
          Узнайте, какие задачи в вашей компании решит автоматизация
          бюджетирования
        </p>
        <ul class="list-reset check-list banner__list desc desc--white">
          <li>Ответим на вопросы</li>
          <li>Разберем текущую ситуацию</li>
          <li>Предложим варианты решений</li>
        </ul>
        <a href="#" class="btn btn-reset btn--wh banner__btn modal-btn"
          >Оставить заявку</a
        >
      </div>

      <div class="banner__img">
        <img src="./img/banner/01.svg" alt="" />
      </div>
    </div>
  </div>
</section>
