<section class="banner banner--disc">
  <div class="container">
    <div class="banner__container">
      <div class="banner__content">
        <h2 class="title3 title3--white banner__title">
          Давайте обсудим ваши пожелания И результат от внедрения прямо сейчас!
        </h2>
        <p class="desc banner__desc desc--white">
          Экспресс-аудит даст вам ответы на важные вопросы. Это бесплатно и ни к
          чему не обязывает.
        </p>
        <a href="#" class="btn btn-reset btn--wh banner__btn modal-btn"
          >Оставить заявку</a
        >
      </div>

      <div class="banner__img">
        <img src="./img/banner/02.svg" alt="" />
      </div>
    </div>
  </div>
</section>
