<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__content">
        <div class="footer__wrap">
          <a href="./" class="footer__logo logo">ПрограмМ Лайн</a>
          <p class="footer__sublogo">Решения на базе 1С для вашего бизнеса</p>
        </div>
      </div>
      <address class="footer__address">
        <div class="footer__link desc">
          <a href="tel:+79636416422"> + 7 (963) 641-64-22</a>
        </div>
        <div class="footer__link desc">
          <a href="mailto:support@program-line.ru">support@program-line.ru</a>
        </div>
      </address>
      <a href="#" class="btn btn-reset footer__btn modal-btn"
        >Запросить аудит сейчас</a
      >
    </div>

    <div class="footer__bottom">
      <small class="footer__copy desc">© 2024, Все права защищены</small>
      <small class="footer__copy desc">Перминов Егор Юрьевич, директор</small>
    </div>
  </div>
</footer>
