<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="./" class="header__logo logo"> ПрограмМ Лайн </a>

      <nav class="nav header__nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#prob" class="nav__link">Боли клиента</a>
          </li>
          <li class="nav__item">
            <a href="#why" class="nav__link">Почему мы</a>
          </li>
          <li class="nav__item">
            <a href="#sol" class="nav__link">Решение</a>
          </li>
        </ul>
      </nav>

      <div class="header__col">
        <div>
          <a href="mailto:support@program-line.ru" class="header__link"
            >support@program-line.ru</a
          >
        </div>
        <div>
          <a href="tel:+79636416422" class="header__link">+7 (963) 641-64-22</a>
        </div>
      </div>

      <a href="#" class="header__btn btn btn-reset modal-btn">Получить аудит</a>
      <div class="header__mob">
        <div class="header__icons">
          <a href="tel:+79636416422" class="header__ic">
            <img src="./img/call-icon.svg" alt="" />
          </a>
          <a href="mailto:support@program-line.ru" class="header__ic"
            ><img src="./img/mail-icon.svg" alt=""
          /></a>
        </div>
        <div class="header__burger">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>

  @include('menu.html')
</header>
