<section class="hero">
  <div class="container hero__container">
    <div class="hero__row">
      <div class="hero__content">
        <h1 class="hero__title">Автоматизация бюджетирования и казначейства</h1>
        <p class="hero__desc desc">
          Гарантия результата от экспертов с 20-летним опытом внедрения 1С
        </p>
      </div>

      <form action="#" class="hero__form form">
        <div class="form__capture">Ответим на все интересующие вопросы</div>
        <label class="form__label">
          <input
            type="tel"
            class="form__input input-tel"
            placeholder="Телефон"
          />
        </label>
        <button class="form__btn btn btn-reset">
          Бесплатный экспресс-аудит
        </button>
      </form>
    </div>

    <div class="hero__items">
      <div class="hero__item">
        <p class="desc">+20% к прибыли компании*</p>
      </div>
      <div class="hero__item">
        <p class="desc">Ускорение получения финансовой отчетности</p>
      </div>
      <div class="hero__item">
        <p class="desc">Поставленный управленческий учет</p>
      </div>
    </div>
    <a href="#" class="hero__btn btn btn-reset modal-btn"
      >Бесплатный экспресс-аудит</a
    >
    <div class="hero__warn">
      *Согласно данным, предоставленным компаниями-клиентами ООО “Программ Лайн”
      после внедрения решений по автоматизации бюджетирования и казначейства
    </div>
  </div>
</section>
