<section class="mean" id="why">
  <div class="container mean__container">
    <div class="mean__header">
      <h2 class="title2 mean__title">Что это означает для вас?</h2>
      <p class="subtitle mean__subtitle">
        Автоматизация
        <br />бюджетирования
      </p>
    </div>
    <div class="mean__slider swiper">
      <div class="mean-prev mean__control mean__control--prev">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 20L9 12L16 4"
            stroke="#404040"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="mean-next mean__control mean__control--next">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 4L15 12L8 20"
            stroke="#404040"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="mean__slide mean__slide">
            <div class="mean__content">
              <h3 class="title3 mean-slide__title">
                Для собственника и руководителя
              </h3>
              <ul class="desc mean-slide__list">
                <li>
                  Фундамент для принятия взвешенных управленческих решений
                </li>
                <li>
                  Раннее предупреждение угроз и рисков финансовой стабильности
                  компании
                </li>
                <li>
                  Понимание эффективности работы компании и ее подразделений или
                  филиалов
                </li>
                <li>
                  Объективная и оперативная информация о бизнес-результатах
                </li>
                <li>
                  Ключевые показатели эффективности, управленческая отчетность
                  онлайн
                </li>
              </ul>
            </div>
            <div class="mean-slide__img">
              <img src="./img/mean/01.webp" alt="" />
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="mean__slide mean__slide">
            <div class="mean__content">
              <h3 class="title3 mean-slide__title">
                Для финансового директора/главного бухгалтера
              </h3>
              <ul class="desc mean-slide__list">
                <li>
                  Удобное управление финансами, просчет ликвидности,
                  планирование движения денежных средств
                </li>
                <li>
                  Возможность формировать БДР, БДДС, ББЛ и т.д. из операционных
                  бюджетов
                </li>
                <li>Финансовое планирование по множеству сценариев</li>
                <li>«План-план», «план-факт» анализ, расчет отклонений</li>
                <li>
                  Моделирование прибыли, оптимизация расходов, отдача от
                  инвестиций
                </li>
              </ul>
            </div>
            <div class="mean-slide__img">
              <img src="./img/mean/02.webp" alt="" />
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="mean__slide mean__slide">
            <div class="mean__content">
              <h3 class="title3 mean-slide__title">Для IT-директора</h3>
              <ul class="desc mean-slide__list">
                <li>
                  Проверенное решение от 1С с простым внедрением и
                  администрированием
                </li>
                <li>Легкое масштабирование</li>
                <li>Гибкая настройка для всех категорий пользователей</li>
                <li>
                  Отлаженный обмен данными и документами с 1С и контролирующими
                  органами
                </li>
              </ul>
            </div>
            <div class="mean-slide__img">
              <img src="./img/mean/03.webp" alt="" />
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
