<div class="menu">
  <div class="menu__body">
    <nav class="nav menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#prob" class="nav__link">Боли клиента</a>
        </li>
        <li class="nav__item">
          <a href="#why" class="nav__link">Почему мы</a>
        </li>
        <li class="nav__item">
          <a href="#sol" class="nav__link">Решение</a>
        </li>
      </ul>
    </nav>

    <div class="menu__col">
      <div>
        <a href="mailto:support@program-line.ru" class="header__link"
          >support@program-line.ru</a
        >
      </div>
      <div>
        <a href="tel:+79636416422" class="header__link">+7 (963) 641-64-22</a>
      </div>
    </div>

    <a href="#" class="menu__btn btn btn-reset modal-btn">Получить аудит</a>
  </div>
</div>
