<div class="modal modal-thx">
  <div class="modal__body">
    <div class="modal__title title3">Благодарим за предоставленные данные!</div>
    <div class="modal__desc">Наш специалист свяжется с вами в течение часа</div>

    <div
      class="modal__close"
      data-swipe-threshold="20"
      data-swipe-unit="px"
      data-swipe-timeout="500"
      data-swipe-ignore="false"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M34.9999 34.9999L20 20M20 20L5 5M20 20L35.0001 5M20 20L5 35.0001"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</div>
