<section class="sign" id="prob">
  <div class="container">
    <div class="sign__header">
      <h2 class="title2 sign__title">
        Топ сигналов,<br />говорящих &quot;ПОРА!&quot;
      </h2>
      <p class="subtitle sign__subtitle">Автоматизация<br />бюджетирования</p>
    </div>

    <div class="sign__container">
      <div class="sign__col">
        <div class="sign__tt">Проблема</div>

        <ul class="list-reset sign__list">
          <li class="sign__item desc">
            <span>(01)</span>
            Частые кассовые разрывы
          </li>
          <li class="sign__item desc">
            <span>(02)</span>
            Не достижение финансовых целей
          </li>
          <li class="sign__item desc">
            <span>(03)</span>
            Не достижение финансовых целей
          </li>
          <li class="sign__item desc">
            <span>(04)</span>
            Не знаете, как повысить эффективность использования ресурсов
          </li>
          <li class="sign__item desc">
            <span>(05)</span>
            Нет понимания, выгодно ли предоставление рассрочки покупателям и
            поставщикам
          </li>
          <li class="sign__item desc">
            <span>(06)</span>
            Нет понимания реального финансового положения компании, слабый
            контроль над расходами
          </li>
          <li class="sign__item desc">
            <span>(07)</span>
            Сложно конвертировать цифры в информацию для принятия управленческих
            решений
          </li>
          <li class="sign__item desc">
            <span>(08)</span>
            Трудности с формированием отчетности, контроль бюджетов слишком
            сложен и занимает много времени
          </li>
        </ul>
      </div>
      <div class="sign__col">
        <div class="sign__tt">ПРИЧИНА</div>

        <ul class="list-reset sign__list">
          <li class="sign__item desc">
            <span>(01)</span>
            Нет финансового планирования, прогнозирования рисков
          </li>
          <li class="sign__item desc">
            <span>(02)</span>
            Есть ошибки в финансовом планировании, не учитываются изменения на
            рынке
          </li>
          <li class="sign__item desc">
            <span>(03)</span>
            Не отслеживаются факторы, влияющие на размер прибыли
          </li>
          <li class="sign__item desc">
            <span>(04)</span>
            Не просчитывается отдача от заемных средств, реинвестирования
            прибыли и т.д.
          </li>
          <li class="sign__item desc">
            <span>(05)</span>
            Не оценивается эффективность использования дебиторской и
            кредиторской задолженности
          </li>
          <li class="sign__item desc">
            <span>(06)</span>
            Нет контроля над движением денежных средств, на проводится анализ
            финансовой устойчивости
          </li>
          <li class="sign__item desc">
            <span>(07)</span>
            Нет автоматизированной системы перевода данных в наглядный и
            понятный управленцу вид
          </li>
          <li class="sign__item desc">
            <span>(08)</span>
            Ручной сбор фактических данных, несколько подразделений или юр лиц.
            Бюджетирование ведется вручную / в Excel
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
