<section class="success">
  <div class="container">
    <h2 class="title2 success__title">
      Для успешной автоматизации бюджетирования исполнитель должен быть не
      только программистом, но и экспертом-методологом.
    </h2>

    <div class="success__pos">
      <div class="success__capture title3">такой специалист может:</div>

      <div class="success__container">
        <div class="success__left">
          <div class="success__items">
            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/01.svg" alt="" />
              </div>
              <p class="s-item__desc desc">Определить модель бюджетов</p>
            </div>
            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/02.svg" alt="" />
              </div>
              <p class="s-item__desc desc">Организовать контрольную функцию</p>
            </div>

            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/03.svg" alt="" />
              </div>
              <p class="s-item__desc desc">Подобрать нужную систему</p>
            </div>
            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/04.svg" alt="" />
              </div>
              <p class="s-item__desc desc">
                Разработать правильную архитектуру для работы
              </p>
            </div>
            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/05.svg" alt="" />
              </div>
              <p class="s-item__desc desc">Научить работе в системе</p>
            </div>
            <div class="success__item s-item">
              <div class="s-item__icon">
                <img src="./img/success/06.svg" alt="" />
              </div>
              <p class="s-item__desc desc">
                Ответить на любой вопрос, чтобы вы получили реальные результаты
              </p>
            </div>
          </div>
          <div class="success__img success__img--mob">
            <img src="./img/success/cover.webp" alt="" />
          </div>
          <p class="desc success__under">
            У каждой компании свои требования. Сложная система грозит
            недовольством сотрудников и снижением эффективности. Важно найти
            баланс между запросами руководства и ресурсами компании, а также
            оценить готовность бизнеса к автоматизации.
          </p>
        </div>
        <div class="success__img">
          <img src="./img/success/cover.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
