<section class="system">
  <div class="container">
    <h2 class="title3 system__title">Автоматизируем на базе</h2>
    <div class="system__items">
      <div class="system__item">
        <div class="system__icon">
          <img src="./img/work/1c.svg" alt="" />
        </div>
        <p class="desc system__name">Комплексная<br />автоматизация</p>
      </div>
      <div class="system__item">
        <div class="system__icon">
          <img src="./img/work/1c.svg" alt="" />
        </div>
        <p class="desc system__name">УХ</p>
      </div>
      <div class="system__item">
        <div class="system__icon">
          <img src="./img/work/1c.svg" alt="" />
        </div>
        <p class="desc system__name">ERP</p>
      </div>
      <div class="system__item">
        <div class="system__icon">
          <img src="./img/work/1c.svg" alt="" />
        </div>
        <p class="desc system__name">БИТ Финанс</p>
      </div>
      <div class="system__item">
        <div class="system__icon">
          <img src="./img/work/1c.svg" alt="" />
        </div>
        <p class="desc system__name">Собственные модули и решения</p>
      </div>
    </div>
  </div>
</section>
