<section class="top">
  <div class="container">
    <h2 class="title2 top__title">
      <span>ТОП-4</span> гарантированных эффекта от автоматизации бюджетирования
    </h2>

    <div class="top__items">
      <div class="top__item">
        <span>(01)</span>

        <p class="desc top__desc">
          Регулярное достижение финансовых целей и предупреждение рисков
        </p>
      </div>
      <div class="top__item">
        <span>(02)</span>

        <p class="desc top__desc">
          Сокращение до 20% расходов компании за счет оптимизации бюджетов
        </p>
      </div>
      <div class="top__item">
        <span>(03)</span>

        <p class="desc top__desc">
          Легкое и удобное управление финансами, контроль ликвидности и расходов
        </p>
      </div>
      <div class="top__item">
        <span>(04)</span>

        <p class="desc top__desc">
          Бюджетные модели, доказавшие свою эффективность
        </p>
      </div>
    </div>
  </div>
</section>
