<section class="trust">
  <div class="container">
    <h2 class="title2 trust__title">
      Результаты и доверие — лучшие подтверждения нашей работы
    </h2>
    <h3 class="capture trust__subtitle">
      Вот отзыв от компании, которая уже использует наши услуги.
    </h3>

    <div class="trust__wrapper">
      <div class="trust-prev trust__btn trust__btn--prev">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25 30L15 20L25 10"
            stroke="#404040"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="trust-next trust__btn trust__btn--next">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 10L25 20L15 30"
            stroke="#404040"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="trust__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="trust__slide trust-item">
              <div class="trust-item__header">
                <div class="trust-item__logo">
                  <img src="./img/slide-logo.svg" alt="" />
                </div>
                <p class="desc3 trust-item__name">
                  Данильянц Анастасия Сергеевна
                </p>
                <p class="trust-item__desc">Финансовый директор «ООО ЛИГА»</p>
              </div>
              <div class="trust-item__img">
                <img src="./img/trust/01.webp" alt="" />

                <a
                  href="./img/trust/01.webp"
                  class="trust-item__full btn btn-reset"
                  data-fancybox="gallery"
                  >Читать полностью</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="trust__slide trust-item">
              <div class="trust-item__header">
                <div class="trust-item__logo">
                  <img src="./img/slide-logo.svg" alt="" />
                </div>
                <p class="desc3 trust-item__name">
                  Данильянц Анастасия Сергеевна
                </p>
                <p class="trust-item__desc">Финансовый директор «ООО ЛИГА»</p>
              </div>
              <div class="trust-item__img">
                <img src="./img/trust/01.webp" alt="" />

                <a
                  href="./img/trust/01.webp"
                  class="trust-item__full btn btn-reset"
                  data-fancybox="gallery"
                  >Читать полностью</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
