<section class="work" id="sol">
  <div class="container">
    <h3 class="work__capture capture">
      Автоматизация бюджетирования и казначейства – не самая простая работа
    </h3>

    <div class="work__header">
      <h2 class="title2 work__title">И мы делаем ее хорошо</h2>

      <p class="work__subtitle subtitle">беремся за самые сложные задачи</p>
    </div>

    <div class="work__container">
      <div class="work__left">
        <div class="work__content">
          <p class="desc work__desc">
            Наше уникальное преимущество – глубокая экспертиза в области
            автоматизации финансов. Наш ведущий эксперт обладает опытом
            руководства направлением разработки «Казначейство. Бюджетирование.
            Аналитика» ERP в фирме «1С». Мы знаем методологию и функционал
            решения изнутри. Это позволит провести внедрение в сжатые сроки и
            дать вам мощный инструмент решения задач.
          </p>
          <ul class="list-reset work__list desc">
            <li><span>20+ лет</span> опыта 1С автоматизации</li>
            <li>Высшее техническое и финансовое образование</li>
            <li>
              Успешно реализованные
              <span>проекты на крупнейших предприятиях РФ</span>
            </li>
            <li>
              <span>Высокая культура проектирования</span> и написания
              программного кода по стандартам 1С
            </li>
            <li>
              Использование <span>современных средств</span> CI/CD (GIT, GitLab,
              EDT, Vanessa)
            </li>
          </ul>
          <div class="work__img work__img--mob">
            <img src="./img/work/01.webp" alt="" />
          </div>
          <div class="work__bottom">
            <div class="capture work__tt">Работаем по методологии Agile:</div>
            <p class="desc">
              На начальном этапе прорабатывается общая концепция и архитектура
              проекта; далее задачи проекта делятся на небольшие управляемые
              части (1-4 недели); каждая итерация завершается значимым
              результатом – готовым к использованию продуктом.
            </p>
          </div>
        </div>
      </div>
      <div class="work__img">
        <img src="./img/work/01.webp" alt="" />
      </div>
    </div>
  </div>
</section>
